In [23]:
import pandas as pd
import numpy as np

CCTV_seoul = pd.read_csv("/content/drive/MyDrive/data/DataScience-master/DataScience-master/data/01. CCTV_in_Seoul.csv")
CCTV_seoul["최근증가율"] = (CCTV_seoul['2016년']+CCTV_seoul['2015년']+CCTV_seoul['2014년'])/CCTV_seoul['2013년도 이전'] * 100
CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:"구별"}, inplace=True)

Popular_seoul = pd.read_excel("/content/drive/MyDrive/data/DataScience-master/DataScience-master/data/01. population_in_Seoul.xls",
                              header=2, usecols="B, D, G, J, N")

Popular_seoul.rename(columns={Popular_seoul.columns[0]:"구별",
                              Popular_seoul.columns[1]:"인구수",
                              Popular_seoul.columns[2]:"한국인",
                              Popular_seoul.columns[3]:"외국인",
                              Popular_seoul.columns[4]:"고령자"}, inplace=True)
Popular_seoul.drop([26],inplace=True)
Popular_seoul['외국인비율'] = Popular_seoul['외국인']/Popular_seoul['인구수']*100
Popular_seoul['고령자비율'] = Popular_seoul['고령자']/Popular_seoul['인구수']*100
Popular_seoul.drop(0, inplace=True)

result = pd.merge(CCTV_seoul,Popular_seoul, on="구별")
result.head()

    구별    소계  2013년도 이전  2014년  ...      외국인      고령자     외국인비율      고령자비율
0  강남구  2780       1292    430  ...   4950.0  63167.0  0.867660  11.072217
1  강동구   773        379     99  ...   4214.0  54622.0  0.929765  12.051638
2  강북구   748        369    120  ...   3506.0  54813.0  1.061806  16.600342
3  강서구   884        388    258  ...   6524.0  72548.0  1.080540  12.015794
4  관악구  1496        846    260  ...  18312.0  68082.0  3.484582  12.955291

[5 rows x 13 columns]

In [24]:
del result['2013년도 이전']
del result['2014년']
del result['2015년']
del result['2016년']
result.head()

    구별    소계       최근증가율       인구수  ...      외국인      고령자     외국인비율      고령자비율
0  강남구  2780  150.619195  570500.0  ...   4950.0  63167.0  0.867660  11.072217
1  강동구   773  166.490765  453233.0  ...   4214.0  54622.0  0.929765  12.051638
2  강북구   748  125.203252  330192.0  ...   3506.0  54813.0  1.061806  16.600342
3  강서구   884  134.793814  603772.0  ...   6524.0  72548.0  1.080540  12.015794
4  관악구  1496  149.290780  525515.0  ...  18312.0  68082.0  3.484582  12.955291

[5 rows x 9 columns]

In [25]:
result.set_index('구별',inplace=True)
result.head()

       소계       최근증가율       인구수  ...      고령자     외국인비율      고령자비율
구별                               ...
강남구  2780  150.619195  570500.0  ...  63167.0  0.867660  11.072217
강동구   773  166.490765  453233.0  ...  54622.0  0.929765  12.051638
강북구   748  125.203252  330192.0  ...  54813.0  1.061806  16.600342
강서구   884  134.793814  603772.0  ...  72548.0  1.080540  12.015794
관악구  1496  149.290780  525515.0  ...  68082.0  3.484582  12.955291

[5 rows x 8 columns]

In [12]:
np.corrcoef(result['고령자비율'],result['소계'])

array([[1.        , 0.30634228],
       [0.30634228, 1.        ]])

In [13]:
np.corrcoef(result['외국인비율'],result['소계'])

array([[ 1.        , -0.13607433],
       [-0.13607433,  1.        ]])

In [14]:
np.corrcoef(result['인구수'],result['소계'])

array([[1.        , 0.30634228],
       [0.30634228, 1.        ]])

In [26]:
result.sort_values(by='소계', ascending=False).head(5)

       소계       최근증가율       인구수  ...      고령자     외국인비율      고령자비율
구별                               ...
강남구  2780  150.619195  570500.0  ...  63167.0  0.867660  11.072217
양천구  2034   34.671731  479978.0  ...  52975.0  0.839413  11.036964
서초구  1930   63.371266  450310.0  ...  51733.0  0.958451  11.488308
은평구  1873   85.237258  494388.0  ...  72334.0  0.899091  14.631019
용산구  1624   53.216374  244203.0  ...  36231.0  6.038828  14.836427

[5 rows x 8 columns]

In [27]:
result.sort_values(by='인구수', ascending=False).head(5)

       소계       최근증가율       인구수  ...      고령자     외국인비율      고령자비율
구별                               ...
송파구   618  104.347826  667483.0  ...  72506.0  1.033584  10.862599
강서구   884  134.793814  603772.0  ...  72548.0  1.080540  12.015794
강남구  2780  150.619195  570500.0  ...  63167.0  0.867660  11.072217
노원구  1265  188.929889  569384.0  ...  71941.0  0.670725  12.634883
관악구  1496  149.290780  525515.0  ...  68082.0  3.484582  12.955291

[5 rows x 8 columns]